<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">

        <main>
            <h1><%= OperationTitle %> </h1>
            <h2>success: <%= result %> </h2>

            <section>
                <% include ../partials/scripts %>
            </section>

        </main>
    </div>
</body>
</html>