<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head-blue %>
</head>

<body>
  <header>
  </header>
  <main onclick="requestFullScreen(document.body)">

    <div class="wrapper">
      <header class="header">FTC Live Scoring Beta - Both Teams</header>
      <article class="main">
        <button id="cenbun" type="button" class="btn btn-primary btn-lg btn-block">
          <span class="bcen_a">0</span> <span> / </span> <span class="bcen_t">0</span>

        </button>
        <button id="corbun" type="button" class="btn btn-secondary btn-lg btn-block">
          <span class="bcor_a">0</span> <span> / </span> <span class="bcor_t">0</span>
        </button>
      </article>

      <aside class="aside aside-2">
        <button id="b1m" type="button" class="btn btn-primary btn-lg btn-block">-</button>
        <button id="b2m" type="button" class="btn btn-secondary btn-lg btn-block">-</button>
      </aside>

      <aside class="aside aside-4">
        <button id="b1p" type="button" class="btn btn-primary btn-lg btn-block">+ Center +</button>
        <button id="b2p" type="button" class="btn btn-secondary btn-lg btn-block">+ Corner +</button>
      </aside>
      <footer class="footer">Sokolov©</footer>
    </div>

  </main>



  <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
  <script src="/assets/js/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/blueBoth.js"></script>

  <script type="text/javascript">
     function requestFullScreen(element) {
    // Supports most browsers and their versions.
    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

    if (requestMethod) { // Native full screen.
      requestMethod.call(element);
    } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
      var wscript = new ActiveXObject("WScript.Shell");
      if (wscript !== null) {
        wscript.SendKeys("{F11}");
      }
    }
  }

var elem = document.body; // Make the body go full screen.
requestFullScreen(elem);
</script>


<script>
  window.navigator = window.navigator || {};
  if (navigator.vibrate === undefined) {
    document.getElementById('v-unsupported').classList.remove('hidden');
    ['b1p', 'b1m', 'b2p', 'b2m'].forEach(function(elementId) {
      document.getElementById(elementId).setAttribute('disabled', 'disabled');
    });
  } else {
    ['b1p', 'b2p'].forEach(function(elementId) {
      document.getElementById(elementId).addEventListener('click', function() {
        navigator.vibrate(250);
      });
    });
    ['b1m', 'b2m'].forEach(function(elementId) {
      document.getElementById(elementId).addEventListener('click', function() {
        navigator.vibrate([50, 100, 50]);
      });
    });   
    ['cenbun', 'corbun'].forEach(function(elementId) {
      document.getElementById(elementId).addEventListener('click', function() {
        navigator.vibrate(0);
      });
    }); 
  }
</script>   

<% include ../partials/scripts %>
</body>

</html>