* {
  margin: 0;
  padding: 0;
}

html {
  background: white;
  color: black;
  font-family: Menlo;
}



/*
  w * h 
  1920*1080
  1600*1200
  1280*1024
*/
@media only screen and (max-width: 1920px) {
  .stopwatch {
    font-size: 0vw;
    height: 0%;
    line-height: 0%;
    /* 100vh */
    text-align: center;
  }

#rcena, #rcora, #rcent, #rcort {
    background: #E74C3C;
}

#bcena, #bcora, #bcent, #bcort {
    background: #3498DB;
}

#bcena, #bcora, #bcent, #bcort, #rcena, #rcora, #rcent, #rcort {
    border-radius: 25px;
    border: 8px solid black;
    padding: 0px; 
    width: 200px;
    height: 119px;  
    font-size: 128px;
    font-weight: bold;
}

  #bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  #bleft {
    position: fixed;
    bottom: 15px; 
    left: 1%;
    background-color: white;
    width: 28%;
    height: 31%;
  }

  #bright{
    position: fixed;
    bottom: 15px;
    right: 1%;
    background-color: white;
    width: 28%;
    height: 31%;
  }

#bmid{
  position: absolute;
  bottom: 0px;
  left: 31%;
  width: 38%;
  background-color: white;
  height: 31%;
  color: black;
}

#bmid img {
  background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  #bleft span, #bright span {
    margin: 0;
    font-size: calc(2vw + 2vh + 1vmin);
    color: black;
  }

}

/* -------------------------------------------- */

@media only screen and (max-width: 1620px) {

}

/* -------------------------------------------- */

@media only screen and (max-width: 1280) {
  html {
    background: yellow;
    color: black;
    font-family: Menlo;
  }
}