* {
  margin: 0;
  padding: 0;
}

html {
  background: #333;
  color: #bbb;
  font-family: Menlo;
}

.stopwatch {
  font-size: 23vw;
  height: 100%;
  line-height: 300%;
  /* 100vh */
  text-align: center;
}

.curStat {
	font-size: 20vw;
  	line-height: 275%;
  	text-align: center;
  	/* 100vh */
	font-size: 8vw;
}

#tright {
    position: relative;
}
#tright img {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 20%;
}

#tleft {
    position: relative;
    text-align: center;
}
#tleft img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%;
}

#tmid {
	position: relative;
}
#tmid img {
    position: absolute;
    left: 25%;
    top: 75px;
    width: 50%;
}

#bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#bleft {
	position: fixed;
	bottom: 10px;	
	left: 1%;
	background-color: #3498DB;
	width: 28%;
	height: 40%;
}



#bmid{
	position: absolute;
	bottom: 10px;
  	left: 31%;
	width: 38%;
	background-color: grey;
	height: 40%;
	color: black;
}

#one #two {
	color: red;
	background: yellow;
}

#bright{
	position: fixed;
	bottom: 10px;
	right: 1%;
	background-color: #E74C3C;
	width: 28%;
	height: 40%;
}

#bmid p {
	color: black;
	font-size: calc(4vw + 4vh + 2vmin);
}

#bleft span, #bright span {
  margin: 0;
  font-size: calc(4vw + 4vh + 2vmin);
	color: black;
}